div {
	margin-left : 50px;
	margin-right : 50px;
	background-color : red;
}

body {
	width: 1195px;
	margin: 1 auto;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}

p {
  color: yellow;
}

#DJpud {
	color: yellow;
	font-size: 40px;
	text-align: center;
}

html {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	background-color: yellow;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 1;
	padding: 20px 1;
	color: yellow;
	text-shadow: 3px 3px 1px black;
}

img {
	display: block;
	margin: 1 auto;
	width: 1095px;
}